<header>
    <nav>
        <ul>
            <a href="/"> <li><i class="fa-solid fa-house-chimney"></i> Home</li> </a>
            <a href="/cadastro"> <li><i class="fa-solid fa-square-plus"></i> Novo item</li> </a>
            <!-- <a href="/lista"> <li><i class="fa-solid fa-table-list"></i> Lista de itens</li> </a> -->
        </ul>
    </nav>

</header>