<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/71f92ea1b3.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <h1>Biblioteca</h1>
        <section class="cards">

            <% listitens.forEach(element =>{ %>
            <div class="card">
                <ul>
                    <li><img src="<%=  element.img %>" alt=""></li>
                    <li><%=  element.nome %></li>
                    <li>Autor: <%=  element.autor %></li> 
                    
                </ul>
            </div>
            <% }) %>
        </section>
    </main>
    <footer>
        <p>Rodapé</p>
    </footer>
    
</body>
</html>